/*-------------------------------- Element Selectors --------------------------------*/
* {
    box-sizing: content-box;
}

body {
    background-color: #0d0f2b;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    align-items: center;
    height: 100vh;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;

}

h1 {
    color: #ffffff;
    animation: neon-glow 1s infinite alternate;
    text-align: center;
}

/*-------------------------------- Class Selectors --------------------------------*/
.board {
    display: none;
    width: 40vw;
    margin: 20px auto;
    border: 3px solid #0057B7;
    background-color: #0057B7;
    border-radius: 10px;
    justify-content: center;
}

/* ------------------------------------------ */
.column {
    width: 20%;
    border-radius: 5px;
    text-align: center;
    border: 3px dashed #0057B7;
}

.column:hover {
    border: 3px solid #d3eb6c;
        cursor: pointer;
}

.cell {
    display: flex;
    aspect-ratio: 1/1;
    border: 3px solid #000000;
    border-radius: 60px;
    font-size: 64px;
    text-align: center;
    background-color: #0d0f2b;
}

#fallingTokens {
    position: absolute;
    transition:
        top 0.8s ease;
    opacity: 0.7;
}

.screen {
    position: absolute;
    width: auto;
    display: none;
    top: 30%;
    background-color: #0057B7;
    border-radius: 1rem;
    border: 0.5rem solid black;
    height: 25%;
    background: radial-gradient(circle, #0d1b2a, #0b0f1a);
    border: 2px solid #00f0ff;
    box-shadow: 0 0 20px #00f0ff;
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
    z-index: 10;
}




.buttons {
    display: flex;
    width: auto;
    min-width: 300px;
    justify-content: space-evenly;
    height: 300px;
    cursor: pointer;
    flex-direction: row;
    align-content: center;
    padding-bottom: 12px;
    gap: 10px;

}

.options {
    border: 2px solid #00f0ff;
    box-shadow: 0 0 10px #00f0ff, inset 0 0 10px #00f0ff;

    border-radius: 0.8rem;
    padding: 30px;
    cursor: pointer;

    color: #00f0ff;
    background-color: #0d1b2a;
    transition: background-color 0.5s ease;
    font-family: 'Orbitron', sans-serif;

}

.options:hover {

    background-color: #00f0ff;
    color: #0d1b2a;
}

.winCounter {
    margin-top: 1rem;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
}

#clearWins {
    margin-left: 1rem;
    padding: 5px 10px;
    cursor: pointer;
}